{
  "channel": "<%= ENV['SLACK_CHANNEL'] %>",
  "username": "Failed Jobs Reporter",
  "icon_emoji": ":news:",
  "text": "*<%= title %>*",
  "blocks": [
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "*<%= title %>*"
      }
    },
    { "type": "divider" },
    <% if data.empty? %>
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "No failed jobs in the past <%= hours %> hours"
      }
    },
    <% else %>
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "<%= data.count %> failed jobs in the past <%= hours %> hours"
      }
    },
    {
      "type": "section",
      "fields": [
        {
          "type": "mrkdwn",
          "text": "_job_id_"
        },
        {
          "type": "mrkdwn",
          "text": "_created_at_"
        }
      ]
    },
    <% data.each do |job| %>
      {
        "type": "section",
        "fields": [
          {
            "type": "mrkdwn",
            "text": "<<%= job.web_url %>|<%= job.id %>>"
          },
          {
            "type": "mrkdwn",
            "text": "<%= job.created_at %>"
          }
        ]
      },
    <% end %>
    <% end %>
    { "type": "divider" }
  ]
}
